<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10 head">
            <h4 class="card-title">Clients</h4>
            <button class="btn btn-primary" (click)="deleteAllData()">Delete All Data</button>
          </div>
          <div class="row">
            <div class="col-md-4">
              <input type="text" id="searchProduct" name="searchBoxTxt" [(ngModel)]="searchBoxTxt"
                class="searchTerm form-control" aria-describedby="productName" placeholder="Search" />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Contact</th>
                <th class="text-center">Email</th>
                <th class="text-center">Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let emp of employeedata | searchBox: searchBoxTxt" style="cursor: pointer">
                  <td class="text-center">{{ emp.firstname }}</td>
                  <td class="text-center">{{ emp.lastname }}</td>
                  <td class="text-center">{{emp.emp_contact}}</td>
                  <td class="text-center">{{ emp.emp_email }}</td>
                  <td class="text-center text-danger " (click)="edit(emp.id)">
                    <p class=" border border-danger">edit</p>
                  </td>
                  <td class="text-center text-danger " (click)="deleteButton(emp.id)">
                    <p class="border border-danger">delete</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>